@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(#ffffff, #3bcbef); */
  color: black;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#header {
  text-align: center;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}
#header .name{
font-size: 1.2rem;
}
#header .name h1{
text-decoration: underline;
margin-bottom: 0;
}
#header .name h3{
margin-top: 0;
font-size: 1rem;
}
#header .links{
display: flex;
list-style: none;
font-size: 1.2rem;
margin-top: 2rem;
}
#header .links li a{
text-decoration: none;
padding: 1rem;
color: black;

}
#header .links li:hover{
transform: scale(1.1);
transition: 0.5s;
}
#landingPage{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
#landingPage .landing-text{
width: 45%;
}
#landingPage .landing-image img{
  width: 45%;
}
#about{
  padding-top: 10rem;
}